.search-bar {

  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 25%;
  margin: 0 auto;
 
}

.search-bar form {
  display: flex;
}

.search-input {
  margin: 10px;
  font-size: 16px;
  border: none;
  border-radius: 10px 0 0 10px;
  width: 80%;
}

.search-button {
  margin: 10px;
  font-size: 16px;
  border: none;
  border-radius: 0 10px 10px 0;
  background-color: #4CAF50;
  color: #fff;
  cursor: pointer;
}

.search-button:hover {
  background-color: #3e8e41;
}