.table-ReservationList {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .table-ReservationList thead {
    background-color: #007bff; /* Màu nền cho tiêu đề */
    color: white; /* Màu chữ cho tiêu đề */
  }
  
  .table-ReservationList th,
  .table-ReservationList td {
    padding: 12px; /* Khoảng cách bên trong ô */
    text-align: left; /* Căn trái chữ */
    border: 1px solid #ddd; /* Đường viền xung quanh ô */
  }
  
  .table-ReservationList tbody {
    background-color: #f2f2f2; /* Màu nền khi hover */
  }
  
  .tm-status-circle {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%; /* Tạo hình tròn */
    margin-right: 5px; /* Khoảng cách bên phải */
  }
  
  .tm-status-circle.moving {
    background-color: yellow; /* Màu cho trạng thái "Spending" */
  }
  
  .tm-status-circle.accepted  {
    background-color: green; /* Màu cho trạng thái "Completed" */
  }
  
  .tm-status-circle.cancelled {
    background-color: red; /* Màu cho trạng thái "Cancelled" */
  }
  
  button {
    margin-right: 10px; /* Khoảng cách giữa các nút */
    padding: 8px 12px; /* Padding cho nút */
    border: none; /* Xóa viền */
    border-radius: 4px; /* Bo góc nút */
    cursor: pointer; /* Con trỏ khi hover */
    background-color: #007bff; /* Màu nền nút */
    color: white; /* Màu chữ nút */
    transition: background-color 0.3s; /* Hiệu ứng chuyển màu */
  }
  
  button:hover {
    background-color: #0056b3; /* Màu nền khi hover */
  }
  