.address-popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.address-popup-content {
  position: relative; 
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  width: 600px;   /* Tăng chiều rộng của popup */
  max-height: 800px; /* Giữ chiều cao tối đa */
  overflow-y: auto;  /* Cho phép cuộn nếu nội dung dài */
}

.close {
  position: absolute;
  top: 10px;
  right: 10px; 
  font-size: 24px;
  cursor: pointer;
  z-index: 10; 
}


h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.form-group {
  flex: 1;
  margin-right: 10px;
}

.form-group:last-child {
  margin-right: 0; /* Không có margin cho ô cuối cùng */
}

label {
  font-weight: bold;
  color: #555;
}

input, select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s;
}

input:focus, select:focus {
  border-color: #007bff;
  outline: none;
}

input::placeholder {
  color: #aaa;
}

/* button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
} */

button:hover {
  background-color: #0056b3;
}
.form-group p {
  color: red;
  font-weight: bolder;
  font-size: 14px;
}