.wishList-container {
  max-width: cover;
  margin: 0 auto;
  padding: 20px;
}

.wishList-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-wishList-btn {
  font-size: 1.5em;
  border: none;
  cursor: pointer;
  color: black;
  margin-left: 20px;
  width: 30px;
  height: 30px;
  padding: 0;
}

.wishList-bar {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  background-color: #f4f4f4;
  padding: 10px 0;
  border-bottom: 2px solid #e0e0e0;
}

.wishList-bar li {
  cursor: pointer;
  margin-right: 20px;
  display: flex;
  align-items: center;
  position: relative;
}

.wishListName{
  margin-top: 10px;
  font-size: 1.5em;
}
.wishListName1{
  margin-top: 10px;
  font-size: 3em;
}

.wishList-bar li:hover {
  background-color: #e0e0e0;
}

.wishList-bar li.active {
  background-color: #089251;
  color: white;
  font-weight: bold;
}

.wishList {
  background-color: #fff;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.wishList-shop-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.wishList-details {
  display: flex;
  padding: 15px 0;
  border-bottom: 1px solid #ccc;
  justify-content: space-between;
}

.wishList-product-img {
  width: 180px; /* Increased from 100px to 180px */
  height: 180px; /* Added a height for consistent aspect ratio */
  margin-right: 15px;
}

.wishList-product-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 10px;
}

.wishList-food-name {
  font-weight: bold;
  font-size: 1.1em;
  color: #333;
}

.wishList-category-name {
  font-style: italic;
  color: #777;
  font-size: 1.1em;
}

.wishList-product-info p {
  margin: 5px 0;
}

.wishList-actions {
  display: flex;
  justify-content: flex-start;
  margin-top: auto;
}

.wishList-return {
  background-color: #34c759;
  color: white;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.wishList-review-btn,
.wishList-request-return {
  background-color: #e0484e;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.wishList-review-btn:hover,
.wishList-request-return:hover {
  background-color: #e0484e;
}

.price {
  font-size: 12px;
  font-weight: bold;
  margin-top: 5px;
}

.price span {
  color: #34c759;
}

.price-display {
  font-weight: bold;
  color: #ff5733;
  font-size: 16px;
  margin: 10px 0;
}

.dropdown-wishlist {
  position: relative;
}

.dropdown-btn-wishlist {
  background: none;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
  color: black;
}

.dropdown-content-wishlist {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0;
}

.dropdown-wishlist:hover .dropdown-content-wishlist {
  display: flex;
  flex-direction: column;
  width: 100px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal form {
  background: white;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.wishlist-container-table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  margin-top: 20px;
}

.wishlist-container-table th,
.wishlist-container-table td {
  padding: 10px;
  border: 1px solid #ddd;
}

.wishlist-container-table th {
  background-color: #f9f9f9;
  font-weight: bold;
  text-align: center;
}

.wishlist-product-image {
  width: 80px;
  height: auto;
  border-radius: 5px;
}

.wishlist-remove-btn {
  background: none;
  border: none;
  color: red;
  font-size: 20px;
  cursor: pointer;
}

.wishlist-add-to-cart-btn {
  
  color: white;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
}

.wishlist-add-to-cart-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.wishlist-add-to-cart-btn:hover:not(:disabled) {
  background-color: #555;
}

.wishlist-price {
  font-size: 16px;
  color: #555;
}

.wishlist-price-original {
  color: #999;
  font-size: 14px;
  text-decoration: line-through;
}
