.restable-form-title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #444;
}

.restable-form-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
