
th, td {
    text-align: center;
}

.btn-edit {
    width: 100%;
    background-color: #28a745;
    color: #fff;
    border-radius: 4px;
}

.btn-edit:hover {
    background-color: #218838;
}

.btn-delete {
    width: 100%;
    background-color: #dc3545;
    color: #fff;
    border-radius: 4px;
}

.btn-delete:hover {
    background-color: #c82333;
}

button:hover {
    text-decoration: underline;
}

/* Đổ bóng cho bảng */
.tm-block-scroll {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
}
