.login-btn-color {
  background-color: #0e1c36;
  color: #fff;
}

.login-profile-image-pic {
  height: 200px;
  width: 200px;
  object-fit: cover;
}

.login-cardbody-color {
  background-color: #8897a8;
}

.login-container a {
  text-decoration: none;
}


